.node-red/flows.json
[{"id":"f85a7614.f60cc8","type":"tab","label":"Flow 1"},{"id":"bbb0bfc2.88371","type":"inject","z":"f85a7614.f60cc8","name":"","topic":"","payload":"senha","payloadType":"str","repeat":"","crontab":"","once":false,"x":209.83334350585938,"y":116.33333587646484,"wires":[["6a86ac24.c5ba74"]]},{"id":"63b64163.3024e","type":"debug","z":"f85a7614.f60cc8","name":"","active":true,"console":"true","complete":"true","x":673.833324432373,"y":119.00002670288086,"wires":[]},{"id":"6a86ac24.c5ba74","type":"CustomDiscoveryQuery","z":"f85a7614.f60cc8","query":"agendar","name":"","x":424.8333435058594,"y":117.00000762939453,"wires":[["63b64163.3024e"]]}]