.node-red/flows.json
[{"id":"1dadf9fd.9a02e6","type":"tab","label":"Input Context Flow 1"},{"id":"2941154c.44cc0a","type":"tab","label":"Input Context Flow 2"},{"id":"60e5080b.a10a28","type":"tab","label":"Pre Configure Message Type Flow"},{"id":"4113b039.87fd3","type":"tab","label":"Conversation Start"},{"id":"1638efb8.243e3","type":"tab","label":"DiscoveryAction Flow"},{"id":"d4c50129.dcd69","type":"tab","label":"RRActionFlow"},{"id":"f3600a18.11b198","type":"tab","label":"Reply Flow"},{"id":"3f386801.d7fb68","type":"tab","label":"Text Reply Flow"},{"id":"552cddc6.6e9294","type":"tab","label":"Voice Reply Flow"},{"id":"a8394d96.075b1","type":"tab","label":"Text To Voice Flow"},{"id":"28a07508.0f9c4a","type":"telegram bot","z":"","botname":"furnasbot","usernames":"","chatids":""},{"id":"9cb1df04.9c9ea","type":"telegram bot","z":0,"botname":"botman","usernames":"","chatids":""},{"id":"8c329832.09f3e8","type":"telegram bot","z":0,"botname":"botman","usernames":"","chatids":""},{"id":"8e8c98bf.8af8b8","type":"telegram bot","z":0,"botname":"botman","usernames":"","chatids":""},{"id":"d9400ac6.dd6838","type":"telegram bot","z":"","botname":"botman","usernames":"","chatids":""},{"id":"605efc98.084734","type":"telegram bot","z":"","botname":"furnas_presentation","usernames":"","chatids":""},{"id":"ce1933a5.158d6","type":"telegram bot","z":"","botname":"furnaschatbot","usernames":"","chatids":""},{"id":"26cfc572.31e1ba","type":"telegram bot","z":0,"botname":"botman","usernames":"","chatids":""},{"id":"2622b0ad.d6809","type":"telegram bot","z":"","botname":"botman","usernames":"","chatids":""},{"id":"8c4646c7.173e08","type":"cloudant","z":"","host":"","name":""},{"id":"bb59c321.95476","type":"cloudant","z":"","host":"fb8439a8-91ac-48cc-8c17-b6994814ac9e-bluemix.cloudant.com","name":"furnasmsgdealer"},{"id":"99ba17a7.f805e8","type":"telegram bot","z":0,"botname":"botman","usernames":"","chatids":""},{"id":"32739ba2.fbc494","type":"telegram bot","z":"","botname":"furnasSuperbot","usernames":"","chatids":""},{"id":"fb72ee03.041ad","type":"telegram receiver","z":"1dadf9fd.9a02e6","name":"","bot":"605efc98.084734","saveDataDir":"","x":150,"y":160,"wires":[["bd6416f1.183e18"],[]]},{"id":"e3b8d5c7.f4c168","type":"link out","z":"1dadf9fd.9a02e6","name":"Save Generic Context Output","links":["ae79a5ca.dfb8b8"],"x":915,"y":160,"wires":[]},{"id":"c1ddbd4e.f5e21","type":"watson-text-to-speech","z":"552cddc6.6e9294","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/ogg; codecs=opus","password":"szKJFyHn8BAV","payload-response":false,"default-endpoint":true,"service-endpoint":"","x":540,"y":260,"wires":[["ccbaf185.33688"]]},{"id":"515b4ff2.643c6","type":"function","z":"552cddc6.6e9294","name":"Prepare To TextToSpeech","func":"if(msg.payload.output.text[0]!=null){\n    console.log(msg.payload.output.text[0]);\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["c1ddbd4e.f5e21"]]},{"id":"aee186b6.590368","type":"link in","z":"552cddc6.6e9294","name":"Voice Reply Input","links":["3e9b8055.35f86","71294a92.99f2a4"],"x":235,"y":140,"wires":[["515b4ff2.643c6"]]},{"id":"ccbaf185.33688","type":"function","z":"552cddc6.6e9294","name":"Prepare To Sender","func":"msg.additional_context.telegram.msg_payload_original.content = msg.speech;\nmsg.payload = msg.additional_context.telegram.msg_payload_original;\nreturn msg;","outputs":"1","noerr":0,"x":810,"y":260,"wires":[["46f4496f.54c848"]]},{"id":"1f041a29.a08706","type":"link in","z":"1638efb8.243e3","name":"Discovery Flow Input","links":["ebfbf4ef.226b38"],"x":55,"y":220,"wires":[["f112c574.74c4c8"]]},{"id":"7743d414.e4dbac","type":"function","z":"1638efb8.243e3","name":"Prepare To Reply Within Discovery","func":"msg.payload = msg.queryResult;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["11dd97bf.95cd"]]},{"id":"6269e271.0daa1c","type":"CustomDiscoveryQuery","z":"1638efb8.243e3","query":"agendar","name":"","x":290,"y":220,"wires":[["9c166dbd.f7ef1"]]},{"id":"bd6416f1.183e18","type":"function","z":"1dadf9fd.9a02e6","name":"Console Log Input","func":"node.log(\"== Console Log Input : Start ==\");\nnode.log(\"msg.payload: \"+msg.payload);\nnode.log(\"msg.payload.type: \"+msg.payload.type)\nnode.log(\"msg.payload.chatId: \"+msg.payload.chatId);\nnode.log(\"msg.originalMessage.from.first_name: \"+msg.originalMessage.from.first_name);\nnode.log(\"msg.payload.content: \"+msg.payload.content);\n\nmsg.telegramMsg = {};\nmsg.telegramMsg.type = msg.payload.type;\n\nnode.log(\"msg.telegramMsg.type: \"+msg.telegramMsg.type);\n\nmsg.telegramMsg.chat_id = msg.payload.chatId;\nnode.log(\"mmsg.telegramMsg.chat_id: \"+msg.telegramMsg.chat_id);\n\n\nmsg.telegramMsg.msg_payload_original = msg.payload;\nvar telepayloadStr = JSON.stringify(msg.telegramMsg.msg_payload_original);\nnode.log(\"msg.telegramMsg.msg_payload_original: \"+telepayloadStr);\n\nvar msgpayloadStr = JSON.stringify(msg.payload);\nnode.log(\"msg.payload: \"+msgpayloadStr);\n\nmsg.telegramMsg.username = msg.originalMessage.from.first_name;\nnode.log(\"msg.telegramMsg.username: \"+msg.telegramMsg.username);\n\nnode.log(\"== Console Log Input : End ==\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["48e0bd20.161684"]]},{"id":"48e0bd20.161684","type":"function","z":"1dadf9fd.9a02e6","name":"Set Global Context","func":"var conversationContext = {};\nmsg.conversationContext = {\n    user:msg.originalMessage.from.first_name,\n    chatId: msg.telegramMsg.chat_id,\n    messageType:msg.telegramMsg.type,\n    userName:msg.originalMessage.from.first_name\n};\nmsg._id = msg.telegramMsg.chat_id;\nmsg.user = msg.telegramMsg.chat_id;\nvar username = msg.originalMessage.from.first_name+\" \"+msg.originalMessage.from.last_name;\n\nmsg.additional_context = {\n        \"username\":username,\n        \"protocol\":msg.telegramMsg.chat_id,\n        \"telegram\": {\n        user: msg.originalMessage.first_name,\n        type: msg.payload.type,\n        chat_id: msg.payload.chatId,\n        msg_payload_original: msg.payload,\n        dm: false\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["e3b8d5c7.f4c168"]]},{"id":"52241f25.8e25","type":"telegram sender","z":"a8394d96.075b1","name":"","bot":"605efc98.084734","x":947.139045715332,"y":150.6666555404663,"wires":[[]]},{"id":"1c67c784.a14398","type":"watson-text-to-speech","z":"a8394d96.075b1","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/ogg; codecs=opus","password":"szKJFyHn8BAV","payload-response":false,"default-endpoint":true,"service-endpoint":"","x":400,"y":160,"wires":[["ba8d97a8.4950c8"]]},{"id":"ba8d97a8.4950c8","type":"function","z":"a8394d96.075b1","name":"Prepare To Sender","func":"var isCameFromVoice = false;\n\nif(!isCameFromVoice){\n    msg.additional_context.telegram.msg_payload_original.content = msg.speech;\n    msg.payload = msg.additional_context.telegram.msg_payload_original;\n    msg.payload.type = \"voice\"\n    return msg;\n}\n","outputs":"1","noerr":0,"x":676.9444046020508,"y":152.3333215713501,"wires":[["52241f25.8e25"]]},{"id":"a5224df0.adfac","type":"link in","z":"a8394d96.075b1","name":"Text To Voice Input","links":["c3be801.fb2c98"],"x":195,"y":160,"wires":[["1c67c784.a14398"]]},{"id":"6a42ce2b.7a0be","type":"link out","z":"1638efb8.243e3","name":"","links":["8351be52.7b5f"],"x":1295,"y":220,"wires":[]},{"id":"1916bd52.5164e3","type":"link in","z":"3f386801.d7fb68","name":"Text Reply Input","links":["158d6495.642efb","b9753d91.78043","ca922888.2891d8","c41c6b4b.63f5a8"],"x":255,"y":140,"wires":[["fb265577.adea58"]]},{"id":"fb265577.adea58","type":"function","z":"3f386801.d7fb68","name":"Preapare to Send","func":"msg.payload = {chatId : msg.conversationContext.chatId,\ntype : \"message\",\ncontent : msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["1e7cb21e.d683de"]]},{"id":"1e7cb21e.d683de","type":"telegram sender","z":"3f386801.d7fb68","name":"","bot":"605efc98.084734","x":750,"y":140,"wires":[[]]},{"id":"2ddcdb57.8fa244","type":"debug","z":"3f386801.d7fb68","name":"","active":true,"console":"true","complete":"true","x":1110,"y":140,"wires":[]},{"id":"9c166dbd.f7ef1","type":"HtmltotextWatsonConversation","z":"1638efb8.243e3","name":"","topic":"","x":530,"y":120,"wires":[["7743d414.e4dbac"]]},{"id":"e04d74b8.27e4c8","type":"link out","z":"2941154c.44cc0a","name":"","links":["39a3ad2.c957d52"],"x":1115,"y":140,"wires":[]},{"id":"865847e7.fa0d88","type":"function","z":"2941154c.44cc0a","name":"Set Telegram Context","func":"msg.telegramMsg = {};\nmsg.telegramMsg.type = msg.payload.type;\nmsg.telegramMsg.chat_id = msg.payload.chatId;\nmsg.telegramMsg.msg_payload_original = msg.payload;\nmsg.telegramMsg.username = msg.originalMessage.from.first_name;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["4e1cfaae.0e56d4"]]},{"id":"ae79a5ca.dfb8b8","type":"link in","z":"2941154c.44cc0a","name":"Switch Input","links":["e3b8d5c7.f4c168"],"x":115,"y":140,"wires":[["865847e7.fa0d88"]]},{"id":"4e1cfaae.0e56d4","type":"function","z":"2941154c.44cc0a","name":"Console Log First Msg","func":"node.log(\"== Console Log First Msg : Start ==\");\nnode.log(\"msg.payload: \"+msg.payload);\nnode.log(\"msg.payload.type: \"+msg.payload.type)\nnode.log(\"msg.payload.chatId: \"+msg.payload.chatId);\nnode.log(\"msg.originalMessage.from.first_name: \"+msg.originalMessage.from.first_name);\nnode.log(\"msg.payload.content: \"+msg.payload.content);\n\nmsg.telegramMsg = {};\nmsg.telegramMsg.type = msg.payload.type;\n\nnode.log(\"msg.telegramMsg.type: \"+msg.telegramMsg.type);\n\nmsg.telegramMsg.chat_id = msg.payload.chatId;\nnode.log(\"mmsg.telegramMsg.chat_id: \"+msg.telegramMsg.chat_id);\n\n\nmsg.telegramMsg.msg_payload_original = msg.payload;\nvar telepayloadStr = JSON.stringify(msg.telegramMsg.msg_payload_original);\nnode.log(\"msg.telegramMsg.msg_payload_original: \"+telepayloadStr);\n\nvar msgpayloadStr = JSON.stringify(msg.payload);\nnode.log(\"msg.payload: \"+msgpayloadStr);\n\nmsg.telegramMsg.username = msg.originalMessage.from.first_name;\nnode.log(\"msg.telegramMsg.username: \"+msg.telegramMsg.username);\n\nnode.log(\"== Console Log First Msg : End ==\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["ed5f699e.751da8"]]},{"id":"ed5f699e.751da8","type":"function","z":"2941154c.44cc0a","name":"Test IF ChatID and TelegramMsg is Not Empty","func":"var isConversationalContextEmpty =  msg.conversationContext==null;\nvar isTelegramContextEmpty =  msg.telegramMsg==null;\nnode.log(\"isConversationalContextEmpty: \"+isConversationalContextEmpty);\nnode.log(\"isTelegramContextEmpty: \"+isTelegramContextEmpty);\nif(isConversationalContextEmpty || isTelegramContextEmpty || msg.user==null){\n     node.error(\"Context not defined properly!\");\n}else{\n      return msg;\n}\n","outputs":"1","noerr":0,"x":580,"y":240,"wires":[["1c34aaf9.ca95b5"]]},{"id":"1c34aaf9.ca95b5","type":"function","z":"2941154c.44cc0a","name":"Console Input To Text Conersation","func":"node.log(\"== Console Input To Text Conersation: Start ==\");\nnode.log(\"msg.payload: \"+msg.payload);\nnode.log(\"msg.payload.type: \"+msg.payload.type)\nnode.log(\"msg.payload.chatId: \"+msg.payload.chatId);\nnode.log(\"msg.originalMessage.from.first_name: \"+msg.originalMessage.from.first_name);\nnode.log(\"msg.payload.content: \"+msg.payload.content);\n\nmsg.telegramMsg = {};\nmsg.telegramMsg.type = msg.payload.type;\n\nnode.log(\"msg.telegramMsg.type: \"+msg.telegramMsg.type);\n\nmsg.telegramMsg.chat_id = msg.payload.chatId;\nnode.log(\"mmsg.telegramMsg.chat_id: \"+msg.telegramMsg.chat_id);\n\n\nmsg.telegramMsg.msg_payload_original = msg.payload;\nvar telepayloadStr = JSON.stringify(msg.telegramMsg.msg_payload_original);\nnode.log(\"msg.telegramMsg.msg_payload_original: \"+telepayloadStr);\n\nvar msgpayloadStr = JSON.stringify(msg.payload);\nnode.log(\"msg.payload: \"+msgpayloadStr);\n\nmsg.telegramMsg.username = msg.originalMessage.from.first_name;\nnode.log(\"msg.telegramMsg.username: \"+msg.telegramMsg.username);\n\nnode.log(\"== Console Input To Text Conersation : End ==\");\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["e04d74b8.27e4c8"]]},{"id":"ecb84a9a.9faa58","type":"watson-conversation-v1","z":"4113b039.87fd3","name":"Furnas Conversation","workspaceid":"09fd0c32-10ff-48e4-9782-c47793dcaff1","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"","x":140,"y":160,"wires":[["abcbf6a2.134248"]]},{"id":"9e09e75e.ba9928","type":"link in","z":"4113b039.87fd3","name":"Conversation Start Input","links":["2787a036.82c25","411284f4.6403dc"],"x":255,"y":40,"wires":[["ecb84a9a.9faa58"]]},{"id":"7aaab170.eb798","type":"switch","z":"4113b039.87fd3","name":"Switch Action","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"discovery","vt":"str"},{"t":"eq","v":"rr","vt":"str"}],"checkall":"true","outputs":2,"x":820,"y":400,"wires":[["ebfbf4ef.226b38"],["c32305f.19077f8"]]},{"id":"ebfbf4ef.226b38","type":"link out","z":"4113b039.87fd3","name":"Switch Discovery Output","links":["1f041a29.a08706"],"x":1015,"y":340,"wires":[]},{"id":"22ab82a3.d2db2e","type":"link out","z":"4113b039.87fd3","name":"Switch Without Action Output","links":["8351be52.7b5f"],"x":1035,"y":120,"wires":[]},{"id":"863f3738.736178","type":"debug","z":"1dadf9fd.9a02e6","name":"InputFlow 1","active":true,"console":"true","complete":"true","x":920,"y":100,"wires":[]},{"id":"e8b7576d.4a36e8","type":"debug","z":"2941154c.44cc0a","name":"InputFlow2","active":true,"console":"true","complete":"true","x":1050,"y":80,"wires":[]},{"id":"abcbf6a2.134248","type":"HtmltotextWatsonConversation","z":"4113b039.87fd3","name":"","topic":"","x":190,"y":240,"wires":[["fbf32733.1d309"]]},{"id":"99606a4f.afb5b8","type":"function","z":"4113b039.87fd3","name":"Simple Msg Text Configuration Reply","func":"if(msg.payload.output.text[0]!=null){\n    console.log(msg.payload.output.text[0]);\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":814.2857055664062,"y":131.42855834960938,"wires":[["22ab82a3.d2db2e"]]},{"id":"dc84537d.73fa","type":"http request","z":"d4c50129.dcd69","name":"","method":"GET","ret":"txt","url":"https://midfurnas.mybluemix.net/FurnasMiddleware/api/v1/document/retrieve?keyword={{query}}","tls":"","x":550,"y":220,"wires":[["eea4e657.2faab"]]},{"id":"f112c574.74c4c8","type":"function","z":"1638efb8.243e3","name":"Set Message Query","func":"msg[\"query\"] = msg.payload.context.queryKeyword;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":100,"wires":[["6269e271.0daa1c"]]},{"id":"7a6d8810.f39bb8","type":"function","z":"d4c50129.dcd69","name":"Set Message Query","func":"msg[\"query\"] = msg.payload.context.queryKeyword;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["dc84537d.73fa"]]},{"id":"1c3b63ae.e2e4bc","type":"link in","z":"d4c50129.dcd69","name":"RRAction Input","links":["c32305f.19077f8"],"x":115,"y":220,"wires":[["7a6d8810.f39bb8"]]},{"id":"2c39c811.209e58","type":"link out","z":"d4c50129.dcd69","name":"","links":["8351be52.7b5f"],"x":1075,"y":220,"wires":[]},{"id":"c32305f.19077f8","type":"link out","z":"4113b039.87fd3","name":"Switch RR Output","links":["1c3b63ae.e2e4bc"],"x":1015,"y":400,"wires":[]},{"id":"e1ea963a.bebad8","type":"debug","z":"d4c50129.dcd69","name":"","active":true,"console":"true","complete":"true","x":770,"y":160,"wires":[]},{"id":"a345e77d.e166b8","type":"debug","z":"d4c50129.dcd69","name":"","active":true,"console":"true","complete":"true","x":330,"y":140,"wires":[]},{"id":"8351be52.7b5f","type":"link in","z":"f3600a18.11b198","name":"ReplyInput","links":["22ab82a3.d2db2e","6a42ce2b.7a0be","2c39c811.209e58"],"x":375,"y":320,"wires":[["2004e454.9a3cac"]]},{"id":"2004e454.9a3cac","type":"switch","z":"f3600a18.11b198","name":"","property":"msg.conversationContext.messageType","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":320,"wires":[["c3be801.fb2c98"],["b9753d91.78043"]]},{"id":"c3be801.fb2c98","type":"link out","z":"f3600a18.11b198","name":"Switch Voice or Text Output - Voice","links":["a5224df0.adfac"],"x":735,"y":280,"wires":[]},{"id":"b9753d91.78043","type":"link out","z":"f3600a18.11b198","name":"Switch Voice or Text Output - Text","links":["1916bd52.5164e3"],"x":735,"y":360,"wires":[]},{"id":"70044ccd.81b3e4","type":"watson-speech-to-text","z":"60e5080b.a10a28","name":"speechToText Furnas","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"5Ci0SAnuqh7U","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":880,"y":260,"wires":[["dbc29872.2627f8"]]},{"id":"270de7ad.84c588","type":"http request","z":"60e5080b.a10a28","name":"","method":"GET","ret":"txt","url":"https://api.telegram.org/bot335713427:AAGc-DtEcBEMykUZwtgAYTfyFmwJ8I7IMAk/getFile?file_id={{url}}","tls":"","x":395.5555648803711,"y":257.88890647888184,"wires":[["f1900570.e8a6e8"]]},{"id":"39a3ad2.c957d52","type":"link in","z":"60e5080b.a10a28","name":"Pre Configure Message Input","links":["e04d74b8.27e4c8"],"x":55,"y":160,"wires":[["359f19f9.6225a6"]]},{"id":"362d7f3f.665fe","type":"function","z":"60e5080b.a10a28","name":"","func":"\nmsg.path = msg.payload.result.file_path;\nmsg.payload = \"https://api.telegram.org/file/bot335713427:AAGc-DtEcBEMykUZwtgAYTfyFmwJ8I7IMAk/voice/\"+msg.path.substring(6, msg.path.length);\nreturn msg;","outputs":"1","noerr":0,"x":693.5555763244629,"y":261.00002098083496,"wires":[["70044ccd.81b3e4"]]},{"id":"f1900570.e8a6e8","type":"json","z":"60e5080b.a10a28","name":"","x":549.5555953979492,"y":257.8889102935791,"wires":[["362d7f3f.665fe"]]},{"id":"411284f4.6403dc","type":"link out","z":"60e5080b.a10a28","name":"Speech to Text OutPut - Voice","links":["9e09e75e.ba9928"],"x":1135,"y":160,"wires":[]},{"id":"d08eaef1.69846","type":"function","z":"60e5080b.a10a28","name":"","func":"msg.url = msg.originalMessage.voice.file_id;\nreturn msg;","outputs":1,"noerr":0,"x":252.77780151367188,"y":258.66666412353516,"wires":[["270de7ad.84c588"]]},{"id":"dbc29872.2627f8","type":"function","z":"60e5080b.a10a28","name":"Prepare To Transcription","func":"msg.additional_context = {\n        \"msg_transcription\": {\n            \"transcription\": msg.transcription\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":260,"wires":[["411284f4.6403dc"]]},{"id":"359f19f9.6225a6","type":"switch","z":"60e5080b.a10a28","name":"","property":"msg.conversationContext.messageType","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"false","outputs":2,"x":190,"y":160,"wires":[["2787a036.82c25"],["d08eaef1.69846"]]},{"id":"2787a036.82c25","type":"link out","z":"60e5080b.a10a28","name":"Speech to Text OutPut - Text","links":["9e09e75e.ba9928"],"x":375,"y":140,"wires":[]},{"id":"46f4496f.54c848","type":"telegram sender","z":"552cddc6.6e9294","name":"","bot":"605efc98.084734","x":1070,"y":260,"wires":[[]]},{"id":"50369db8.2ea0b4","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"true","x":1270,"y":340,"wires":[]},{"id":"436cc185.d418b","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"true","x":490,"y":60,"wires":[]},{"id":"941e0ae6.326738","type":"debug","z":"552cddc6.6e9294","name":"","active":true,"console":"true","complete":"true","x":1090,"y":120,"wires":[]},{"id":"59908264.2a602c","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"true","x":350,"y":200,"wires":[]},{"id":"461422ac.964dac","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"true","x":550,"y":200,"wires":[]},{"id":"f216827e.2ad2d","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"url","x":380,"y":320,"wires":[]},{"id":"d243d5a.86ed428","type":"debug","z":"1dadf9fd.9a02e6","name":"","active":true,"console":"true","complete":"true","x":330,"y":60,"wires":[]},{"id":"7266b55f.d08d3c","type":"debug","z":"1dadf9fd.9a02e6","name":"","active":true,"console":"true","complete":"true","x":590,"y":280,"wires":[]},{"id":"f778a87c.e6b8c8","type":"debug","z":"1dadf9fd.9a02e6","name":"","active":true,"console":"true","complete":"true","x":340,"y":300,"wires":[]},{"id":"8573c2d4.88ee9","type":"debug","z":"4113b039.87fd3","name":"Debug Conversation Start","active":true,"console":"true","complete":"true","x":420,"y":160,"wires":[]},{"id":"258fc077.4ab66","type":"debug","z":"552cddc6.6e9294","name":"","active":true,"console":"true","complete":"true","x":510,"y":120,"wires":[]},{"id":"f7ba7add.c03b88","type":"debug","z":"60e5080b.a10a28","name":"","active":true,"console":"true","complete":"conversationContext.messageType","x":220,"y":60,"wires":[]},{"id":"13eae19e.0f54ae","type":"debug","z":"f3600a18.11b198","name":"","active":true,"console":"true","complete":"true","x":1110,"y":320,"wires":[]},{"id":"fbf32733.1d309","type":"function","z":"4113b039.87fd3","name":"VerifyAction","func":"var resultAction = msg;\nif(msg.payload!=null && \nmsg.payload.output && \nmsg.payload.output.action!=null){\n    return [msg,resultAction]\n}\nreturn [msg,null]","outputs":"2","noerr":0,"x":456.4284973144531,"y":259.64288330078125,"wires":[["99606a4f.afb5b8"],["7aaab170.eb798"]]},{"id":"de328ab9.323ce","type":"debug","z":"f3600a18.11b198","name":"","active":true,"console":"true","complete":"true","x":1110,"y":400,"wires":[]},{"id":"eea4e657.2faab","type":"function","z":"d4c50129.dcd69","name":"Set Response To Voice","func":"msg.conversationContext.messageType = \"voice\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["2c39c811.209e58"]]},{"id":"11dd97bf.95cd","type":"function","z":"1638efb8.243e3","name":"Set Response To Voice","func":"msg.conversationContext.messageType = \"voice\"\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":220,"wires":[["6a42ce2b.7a0be"]]}]