.node-red/flows.json
[{"id":"f85a7614.f60cc8","type":"tab","label":"Flow 1"},{"id":"bbb0bfc2.88371","type":"inject","z":"f85a7614.f60cc8","name":"","topic":"","payload":"senha","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.8333511352539,"y":239.33333015441895,"wires":[["8d7b84e.7437078"]]},{"id":"63b64163.3024e","type":"debug","z":"f85a7614.f60cc8","name":"","active":true,"console":"true","complete":"true","x":1236.833360671997,"y":151.00003719329834,"wires":[]},{"id":"6a86ac24.c5ba74","type":"CustomDiscoveryQuery","z":"f85a7614.f60cc8","query":"agendar","name":"","x":704.8333206176758,"y":62.000030517578125,"wires":[["af6b1c06.990bb"]]},{"id":"af6b1c06.990bb","type":"HtmltotextWatsonConversation","z":"f85a7614.f60cc8","name":"","topic":"","x":994.8333435058594,"y":114.66668510437012,"wires":[["63b64163.3024e"]]},{"id":"8d7b84e.7437078","type":"Htmltotext","z":"f85a7614.f60cc8","name":"","topic":"","x":400.8333435058594,"y":183.00000762939453,"wires":[["6a86ac24.c5ba74"]]}]